/* global.css or component-specific CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-wrap {
  flex-wrap: wrap;
}

/*  */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
}

/* Custom styles for the button */
.custom-button {
  background: none !important; /* Make sure to use !important to override default styles */
  border: none; /* Remove border if necessary */
  color: inherit; /* Inherit text color from parent */
  padding: 0; /* Adjust padding if needed */
  /* Add any other custom styles here */
}


div {
  background-color: red($color: #000000);
}

th {
  text-align: center;
  color: "!bg-purple-800";
}

[data-role="columnheader"] {
  color: red;
}
[data-key="id"] {
  color: red;
}

.transactions-table-first-column {
  @apply dark:bg-inherit dark:text-white;
  th:first-child,
  td:first-child {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    left: 0;
    z-index: 20;
    background-color: white;
    border-radius: 0px !important;
    z-index: 50;
  }
}

th:first-child::before {
  padding: 0px !important;
}

th:first-child::after {
  padding: 0px !important;
}

.transactions-table-last-column {
  @apply dark:bg-inherit !important;
  @apply dark:text-white !important;
  th:last-child,
  td:last-child {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    right: 0;
    z-index: 20;
    background-color: white;
    border-radius: 0px !important;
    @apply dark:bg-inherit dark:text-white;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  z-index: 20;
  background-color: white;
  @apply dark:bg-inherit !important;
  @apply dark:text-white !important;
}

.overflow-x-scroll {
  overflow-x: auto;
  overflow-y: visible;
}

.sticky-left {
  position: sticky;
  left: 0;
  z-index: 20;
  background-color: white;
}

.sticky-right {
  position: sticky;
  right: 0;
  z-index: 20;
  background-color: white;
}

/* Ensure other columns don't overlap with fixed columns */
.flex-shrink-0 {
  flex-shrink: 0;
  min-width: 150px; /* Adjust based on your content */
}

/* Adjust the width of fixed columns if needed */
.sticky-left, .sticky-right {
  min-width: 200px; /* Adjust based on your content */
}